<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} - PHPTracker</title>

  <meta charset='utf-8'>
  <meta name="robots" content="all" /> 
  <meta name="title" content="{{ page.title }}" /> 
  <meta name="description" content="{{ page.description }}" /> 
  
  <base href="{{ site.base }}" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>
  <a href="http://github.com/tcz/PHPTracker"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  
  <div id="container">
	<div id="menubar">&nbsp;</div>
	<ul id="menu">
{% for post in site.posts %} 
{% if !post.categories %}
		<li><a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %} 
		<li><a title="PHPTracker issue tracker on Github" href="https://github.com/tcz/PHPTracker/issues">Issues</a></li>
	</ul>
	
  
	<h1><a href="{{ site.base }}">PHPTracker</a>
      <span class="small">by <a href="http://github.com/tcz">tcz</a></span></h1>

    <div class="description">
      PHP library to generate .torrent files, set up Bittorrent tracker server, and seed server too.
    </div>
  
    <img src="./php_tracker.png" alt="PHPTracker" title="PHPTracker" id="logo" width="120" height="120" />

    {{ content }}

    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/tcz/PHPTracker">tcz/PHPTracker</a>
    </div>

  </div>

  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2588193-9");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
